/node_modules
/public/hot
/public/css
/public/js
/public/storage
/public/signature
/public/img
public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/vendor
/resources/lang/vendor
/public/img
/public/signature