.fc-event-main {
    padding: 2px;
    overflow: hidden;
    cursor: pointer;
}

.fc .fc-popover {
    z-index: 10;
}

.fc-daygrid-more-link.fc-more-link {
    padding-top: 1em;
}

.job-title-status {
    margin-left: 2em;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    text-transform: uppercase;
}

.invoice-link {
    margin-left: 0.5em;
}

.invoice-link > a, .invoice-link > a:hover{
    color: #FFF;
}

.row{
    width: 98%;
}

@media only screen and (max-width: 578px) {
    .invoice-link {
        float: left;
    }
}

.sigpad-wrapper {
    position: relative;
    width: 300;
    height: 180;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sigpad {
    border: 1px solid #000;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
}

#chat-icon-gbl {
    position: fixed;
    bottom: 5%;
    left: 2%;
}

#chat-icon-gbl > a > i {
    font-size: 2.5rem;
    color: #6099C7;
}